@import "../../../../../styles/utils/colors";
@import "../../../../../styles/utils/transition";

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;

  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 142px;
    padding: 4px;
    margin: 4px;
    background-color: $white;
    border: 1px solid $white;
    box-shadow: 0 1px 0 1px $shark, inset 0 1px 0 1px $shark, 0 0 0 1px $shark, inset 0 0 0 1px $shark;
    border-radius: 2px;

    &:hover {
      box-shadow: 0 1px 0 1px $crimson, inset 0 1px 0 1px $crimson, 0 0 0 1px $crimson, inset 0 0 0 1px $crimson;
    }

    .image {
      background-repeat: no-repeat;
      width: 56px;
      height: 56px;
    }

    .number {
      font-size: 16px;
    }

    .name {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
