<div class="pokemon-list" *ngIf="_pokedex.version">
  <ng-container *ngIf="_busy">
    <div class="message">Loading... Don't turn off the power</div>
  </ng-container>
  <ng-container *ngIf="!_busy">
    <div class="message">{{ _pokemons.length | searchResultsMessage }}</div>
    <div class="pokemons-container">
      <div class="pokemon-card" *ngFor="let pokemon of _pokemons">
        <app-dialog-box size="small" [hoverable]="true">
          <a class="pokemon-info" routerLink="pokemon/{{ pokemon.id }}">
            <!-- Sprite estático -->
            <div
              *ngIf="!_pokedex.version.sprites.animated"
              class="image"
              [ngStyle]="pokemon.id | pokemonSpritePosition: _pokedex.version"
            ></div>
            <!-- Sprite animado -->
            <div
              *ngIf="_pokedex.version.sprites.animated"
              class="image-animated"
              [ngStyle]="{
                'width.px': _pokedex.version.sprites.width,
                'height.px': _pokedex.version.sprites.height
              }"
            >
              <img
                *ngIf="_pokedex.version.sprites.animated"
                [src]="pokemon.id | pokemonImageUrl: _pokedex.version"
                appLazyImg
                [alt]="pokemon.name"
              />
            </div>
            <!-- Número del Pokémon -->
            <span class="number">{{ pokemon.id | pokemonNumber }}</span>
            <!-- Nombre del Pokémon -->
            <span class="name">{{ pokemon.name | pokemonName }}</span>
          </a>
        </app-dialog-box>
      </div>
    </div>
  </ng-container>
</div>
