@import 'typography';
@import '../utils/transition';

html {
  /// Evitar el scroll horizontal
  max-width: 100%;
  overflow-x: hidden;

  /// Mostrar siempre el scroll vertical
  overflow-y: scroll;

  box-sizing: border-box;
  min-height: 100vh;
  display: flex;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    /// Establecer Pokémon Font como fuente principal
    font-size: 16px;
    font-family: $pokemonFont;
    line-height: 1.8;

    /// Corregir el alisado de letras en MACOS
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /// Evitar el scroll horizontal
    max-width: 100%;

    min-height: 100vh;
    margin: 0;
    flex: 1;

    a:focus,
    button:focus {
      /// Eliminar la línea azul en el elemento señalado
      outline-width: 0;
      box-shadow: none;
    }

    .--visible {
      opacity: 1;
      transition: $fast;
    }

    .--hidden {
      opacity: 0;
    }
  }
}
