@font-face {
  font-family: 'pokemon-gb';
  src: url('../../fonts/pokemon-gb.ttf') format('embedded-opentype'),
    url('../../fonts/pokemon-gb.ttf') format('woff2'),
    url('../../fonts/pokemon-gb.ttf') format('woff'),
    url('../../fonts/pokemon-gb.ttf') format('truetype'),
    url('../../fonts/pokemon-gb.ttf') format('svg');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$pokemonFont: 'pokemon-gb', monospace;
$roboto: 'Roboto', sans-serif;
