@import '../utils/colors';
@import '../utils/font-sizes';

.form-group-theme {
  & + .form-group-theme {
    padding-top: 16px;
  }

  .label {
    display: block;
    cursor: default;
    font-size: $font-size-smaller;
  }

  input[type='text'] {
    border: 1px solid $shark;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-bottom: 4px;
    padding: 4px 10px;

    &:hover {
      border-color: $crimson;
    }

    &:focus {
      border-color: $shark;
      outline: none;
    }
  }

  select {
    border: 1px solid $shark;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1px 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      border-color: $crimson;
    }

    &:focus {
      border-color: $shark;
      outline: none;
    }
  }
}
