@import '../utils/colors';
@import '../utils/transition';

::-webkit-scrollbar {
  width: 10px;
  background-color: $gallery;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $shark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $crimson;
}
