<aside class="sidenav" [ngClass]="{ 'closed': !showNav }">
  <div class="content">
    <button class="toggle-nav-btn" (click)="showNav = !showNav">
      <span *ngIf="showNav">X</span>
      <fa-icon *ngIf="!showNav" [icon]="iconSearch"></fa-icon>
    </button>
    <div class="filter container-theme container-theme--small">
      <div class="form-group-theme">
        <span class="label">VERSIÓN</span>
        <div *ngFor="let version of pokedexVersions">
          <label class="radio-button-theme">
            <input
              type="radio"
              id="version-{{ version.id }}"
              name="version"
              [value]="version.id"
              [(ngModel)]="currentVersionId"
              (change)="changeVersion(version.id)"
            >{{ version.name }}
          </label>
        </div>
      </div>
      <div class="form-group-theme">
        <label class="label" for="field-name">NOMBRE</label>
        <input id="field-name" type="text" [ngModel]="currentPokemonName" (ngModelChange)="changePokemonName($event)" maxlength="10">
      </div>
    </div>
  </div>
</aside>
