<aside class="sidenav" [ngClass]="{ 'closed': !showNav }">
  <div class="content">
    <button class="toggle-nav-btn" (click)="toggleNav()">
      <fa-icon [icon]="showNav ? faTimes : faBars"></fa-icon>
    </button>
    <div class="filter container-theme">
      <span>Version</span>
      <div *ngFor="let version of pokedexVersions">
        <input
          type="radio"
          id="version-{{ version.id }}"
          name="version"
          [value]="version.id"
          [(ngModel)]="currentVersionId"
          (change)="changeVersion(version.id)"
        >
        <label for="version-{{ version.id }}">{{ version.name }}</label>
      </div>
    </div>
  </div>
</aside>
