@import "../../../../../styles/utils/colors";

.sidenav {
  overflow: hidden;
  width: 250px;
  transition: 250ms;
  position: sticky;
  top: 75px;

  .content {
    position: relative;
    margin: 4px 14px;
    transition: 250ms;

    .toggle-nav-btn {
      z-index: 1;
      cursor: pointer;
      background-color: $transparent;
      border: none;
      font-size: 1.5rem;
      line-height: 0;
      position: absolute;
      top: 6px;
      right: 6px;

      &:hover {
        color: $crimson;
      }
    }

    .filter {
      padding: 8px;
      opacity: 1;
      white-space: nowrap;
      overflow: hidden;
      transition: 250ms;
    }
  }

  &.closed {
    width: 45px;

    .content {
      margin: 3px 0;
      opacity: 1;

      .toggle-nav-btn {
        background-color: $white;
      }

      .filter {
        opacity: 0;
      }
    }
  }
}
