@import "../../../../../styles/base/colors";

.sidenav {
  overflow: hidden;
  width: 250px;
  transition: 250ms;
  position: sticky;
  top: 70px;

  .content {
    position: relative;
    margin: 4px 20px;
    transition: 250ms;

    .toggle-nav-btn {
      z-index: 1;
      cursor: pointer;
      background-color: $white;
      border: none;
      font-size: 24px;
      position: absolute;
      top: 4px;
      right: 4px;
    }

    .filter {
      padding: 8px;
      opacity: 1;
      white-space: nowrap;
      overflow: hidden;
      transition: 250ms;
    }
  }

  &.closed {
    width: 45px;

    .content {
      margin: 3px 0;
      opacity: 1;

      .filter {
        opacity: 0;
      }
    }
  }
}
