@import '../utils/colors';
@import '../utils/transition';

.button-theme {
  position: relative;
  background: none;
  border: none;
  padding: 0 0 0 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 32px;
  cursor: pointer;
  transition: $fast;

  &--black {
    color: $black;

    &:hover {
      color: $crimson;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 10px;
        height: 14px;
        background: transparent url('../../../assets/images/arrow-black-filled.png') no-repeat;
        background-size: 10px 14px;
        image-rendering: pixelated;
      }
    }
  }

  &--white {
    color: $white;

    &:hover {
      color: $yellow-version-light;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: -4px;
        width: 10px;
        height: 14px;
        background: transparent url('../../../assets/images/arrow-white-filled.png') no-repeat;
        background-size: 10px 14px;
        image-rendering: pixelated;
      }
    }
  }
}
