@import '../utils/colors';

.radio-button-theme {
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  width: 100%;

  &:hover {
    color: $crimson;

    input {
      opacity: 1;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 10px;
        height: 14px;
        background: transparent url('../../../assets/images/arrow-black-empty.png') no-repeat;
        background-size: 10px 14px;
        image-rendering: pixelated;
      }
    }
  }

  input {
    opacity: 0;
    margin-right: 8px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
    }

    &:checked {
      opacity: 1;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 10px;
        height: 14px;
        background: transparent url('../../../assets/images/arrow-black-filled.png') no-repeat;
        background-size: 10px 14px;
        image-rendering: pixelated;
      }
    }
  }
}
