.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;

  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 142px;
    padding: 4px;
    margin: 4px;

    .image {
      background-repeat: no-repeat;
      width: 56px;
      height: 56px;
    }

    .number {
      font-size: 16px;
    }

    .name {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
