.pokemon-list {
  display: flex;
  flex-wrap: wrap;

  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 142px;
    padding: 4px;
    margin: 4px;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black, inset 0 0 0 1px black;
    border-radius: 2px;

    .image {
      background-repeat: no-repeat;
      width: 56px;
      height: 56px;
    }

    .number {
      font-size: 16px;
    }

    .name {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
