<section class="about">
  <div class="about-container container-theme container-theme--large">
    <h1>POKÉDEX</h1>
    <p>
      Sitio web elaborado por <a [href]="keilerLinkedin" target="_blank">KEILER MORA</a> con fines demostrativos. El proyecto fue desarrollado usando la librería <a [href]="homeAngular" target="_blank">ANGULAR</a> para crear la interfaz de usuario, en comunicación con la Api RESTful <a [href]="homePokeApi" target="_blank">POKÉAPI</a>.
      <br><br>
      El código fuente está disponible en <a [href]="pokedexGithub" target="_blank">GITHUB</a>.
    </p>

    <a class="button-theme button-theme--black" routerLink="/">
      Volver
    </a>
  </div>
</section>
