<section class="about">
  <app-dialog-box size="large">
    <h1 class="about__title">POKÉDEX</h1>
    <p class="about__description">
      Sitio web elaborado por
      <a [href]="keilerLinkedin" target="_blank">KEILER MORA</a> con fines
      demostrativos. El proyecto fue desarrollado usando la librería
      <a [href]="homeAngular" target="_blank">ANGULAR</a> para crear la interfaz
      de usuario, en comunicación con la Api RESTful
      <a [href]="homePokeApi" target="_blank">POKÉAPI</a>. <br /><br />
      El código fuente está disponible en
      <a [href]="pokedexGithub" target="_blank">GITHUB</a>.
    </p>

    <a class="button-theme button-theme--black" routerLink="/"> Volver </a>
  </app-dialog-box>
</section>
