@import "../../../styles/utils/media-query";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 580px;
  margin: 0 auto;
  padding: 25px 0;

  @include respond-to(xs) {
    padding: 25px 15px;
  }

  .about-container {
    max-width: 602px;
    padding: 0 8px 16px;

    h1 {
      margin-top: 0;
    }

    p {
      margin: 0;
      padding-bottom: 3rem;
      font-size: 0.75rem;
    }
  }
}
