<section class="about">
  <div class="about-container container-theme">
    <h1>POKéDEX</h1>
    <p>
      Sitio web elaborado por <a href="https://www.linkedin.com/in/keilermora/" target="_blank">KEILER MORA</a> con fines demostrativos. El proyecto fue desarrollado usando la librería de JavaScript <a href="https://angular.io/">ANGULAR</a> para crear la interfaz de usuario, en comunicación con la Api RESTful <a href="https://pokeapi.co/" target="_blank">POKéAPI</a>
      <br><br>
      El código fuente está disponible en <a href="https://github.com/keilermora/pokedex" target="_blank">GITHUB</a>.
    </p>
  </div>
</section>
