.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;

  .main-content {
    padding-top: 50px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      max-width: 545px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }
}
