<div class="pokemon-list" *ngIf="pokedexVersion">
  <!-- Busy state-->
  <div *ngIf="isBusy" class="message">{{ 'LOADING_MESSAGE' | translate }}</div>

  <ng-container *ngIf="!isBusy">
    <div class="pokemons-container">
      <!-- Empty state -->
      <img
        *ngIf="!pokemons.length"
        src="./assets/images/sleeping-pikachu.gif"
        alt=""
        height="54"
        width="54"
      />

      <!-- Pokémon list -->
      <ng-container *ngIf="pokemons.length">
        <div class="pokemon-card" *ngFor="let pokemon of pokemons">
          <app-pokemon-card [pokemon]="pokemon" [pokedexVersion]="pokedexVersion" />
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
