@if (pokedexVersion) {
<div class="pokemon-list">
  <!-- Busy state-->
  @if (isBusy) {
  <div class="message">{{ 'LOADING_MESSAGE' | translate }}</div>
  } @if (!isBusy) {
  <div class="pokemons-container">
    <!-- Empty state -->
    @if (!pokemons.length) {
    <img ngSrc="./assets/images/sleeping-pikachu.gif" alt="" height="128" width="128" />
    }
    <!-- Pokémon list -->
    @if (pokemons.length) { @for (pokemon of pokemons; track pokemon) {
    <div class="pokemon-card">
      <app-pokemon-card [pokemon]="pokemon" [pokedexVersion]="pokedexVersion" />
    </div>
    } }
  </div>
  }
</div>
}
