@import 'utils/colors';
@import 'utils/font-sizes';
@import 'utils/media-query';
@import 'utils/transition';

.pokemon-list {
  .message {
    padding: 0 1em;
  }

  .pokemons-container {
    position: relative;
    margin: 0 1em;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

    @include respond(xs, sm) {
      justify-content: center;
      margin: 1em 0 0;
    }
  }
}
