{
  "src/**/*.{html,js,json,md,scss,ts}": [
    "prettier --write --ignore-unknown --cache --cache-strategy metadata src"
  ],
  "src/**/*.{js,ts}": [
    "eslint --fix --cache --max-warnings=0"
  ]
}
