<main class="home">
  <!-- Hero img -->
  <div class="home__header">
    <app-dialog-box size="large">
      <h1>POKÉDEX</h1>
      <div class="since-until-years">
        <img src="./assets/images/red-walking-old.gif" alt="" width="32" height="32" />
        <span>{{ since }} - {{ until }}</span>
        <img src="./assets/images/red-walking-new.gif" alt="" width="32" height="42" />
      </div>
    </app-dialog-box>
  </div>

  <!-- Content -->
  <div class="home__content">
    <div class="home__status-bar">
      <app-status-bar [pokemons]="pokemons" />
    </div>
    <div class="home__sidebar">
      <app-sidebar />
    </div>
    <div class="home__pokemon-list">
      <app-pokemon-list [isBusy]="isBusy" [pokedexVersion]="pokedexVersion" [pokemons]="pokemons" />
    </div>
  </div>
</main>
