@import '../../../styles/utils/colors';
@import '../../../styles/utils/media-query';

.home {
  &__header {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title-container {
    background-color: $white;
    padding: 4px;
  }

  &__title {
    margin: 0 0 2px 0;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__content {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0 15px 25px 15px;
    height: 100%;

    @include respond(xs, sm) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      justify-content: center;
    }
  }
}
