@import "../../../styles/utils/media-query";

.home {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 25px 0 0;
  height: 100%;
  padding-bottom: 25px;

  @include respond(xs, sm) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
  }
}
