<aside class="sidenav" [ngClass]="{ closed: !showNav }">
  <app-dialog-box size="small">
    <div class="filter">
      <button class="toggle-nav-btn" (click)="showNav = !showNav">
        <fa-icon *ngIf="showNav" [icon]="iconTimes"></fa-icon>
        <fa-icon *ngIf="!showNav" [icon]="iconSearch"></fa-icon>
      </button>
      <div class="form-group-theme">
        <label class="label" for="field-version">Version:</label>
        <select
          name="field-version"
          id="field-version"
          [ngModel]="currentVersionId"
          (ngModelChange)="changeVersion($event)"
        >
          <option *ngFor="let version of pokedexVersions" [value]="version.id">
            {{ version.name }}
          </option>
        </select>
      </div>
      <div class="form-group-theme">
        <label class="label" for="field-name">PKMN Name:</label>
        <input
          id="field-name"
          type="text"
          [ngModel]="currentPokemonName"
          (ngModelChange)="changePokemonName($event)"
          [maxlength]="10"
        />
      </div>
      <div class="form-group-theme">
        <label class="label" for="field-type">PKMN Type:</label>
        <select
          name="field-type"
          id="field-type"
          [ngModel]="currentPokemonTypeId"
          (ngModelChange)="changePokemonType($event)"
        >
          <option value="0">All</option>
          <option *ngFor="let pokemonType of pokemonTypes" [value]="pokemonType.id">
            {{ pokemonType.name }}
          </option>
        </select>
      </div>
    </div>
  </app-dialog-box>
</aside>
