@import "../../../styles/utils/colors";
@import "../../../styles/utils/media-query";
@import "../../../styles/utils/transition";

.pokemon-details {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  transition: $slow;
  max-width: 700px;
  margin: 0 auto;

  @include respond(xs, sm) {
    padding: 25px 15px;
  }

  .pokemon {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(xs, sm) {
      padding: 0;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr;
    }

    .image {
      grid-row-start: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .image-container {
        height: 250px;
        width: 250px;
      }

      .buttons-container {
        padding: 10px 15px 0;
        width: calc(100% - 44px);
        line-height: 1.1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;

        .number {
          grid-column-start: 2;
          justify-self: center;
          padding-bottom: 4px;
        }

        a {
          text-decoration: none;
          color: $black;

          &:hover {
            color: $crimson;
          }

          &:last-of-type {
            grid-column-start: 3;
            justify-self: flex-end;
          }
        }
      }
    }

    .details {
      grid-row-start: 1;
      grid-row-end: 2;

      @include respond(xs, sm) {
        grid-row-start: initial;
        grid-row-end: initial;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        .name {
          text-transform: uppercase;
        }

        .type {
          text-transform: uppercase;

          & + .type {
            padding-left: 16px;
          }

          &.bug { color: $bug-type-dark; }
          &.dark { color: $dark-type-dark; }
          &.dragon { color: $dragon-type-dark; }
          &.electric { color: $electric-type-dark; }
          &.fairy { color: $fairy-type-dark; }
          &.fighting { color: $fighting-type-dark; }
          &.fire { color: $fire-type-dark; }
          &.flying { color: $flying-type-dark; }
          &.ghost { color: $ghost-type-dark; }
          &.grass { color: $grass-type-dark; }
          &.ground { color: $ground-type-dark; }
          &.ice { color: $ice-type-dark; }
          &.normal { color: $normal-type-dark; }
          &.poison { color: $poison-type-dark; }
          &.psychic { color: $psychic-type-dark; }
          &.rock { color: $rock-type-dark; }
          &.steel { color: $steel-type-dark; }
          &.water { color: $water-type-dark; }
          &.unknown, &.bird { color: $unknown-type-dark; }
        }
      }

      table {
        margin-top: 8px;
        width: 100%;

        .stat-name {
          text-transform: uppercase;
        }

        .stat-value {
          text-align: center;
        }
      }
    }

    .more-details {
      padding: 16px 24px;
      grid-column-start: 1;
      grid-column-end: 3;

      h2 {
        margin-top: 0;
      }

      @include respond(xs, sm) {
        grid-column-end: 2;
      }

      .busy {
        visibility: hidden;
      }

      .red { color: $red-version-dark; }
      .green { color: $green-version-dark; }
      .blue { color: $blue-version-dark; }
      .yellow { color: $yellow-version-dark; }
      .gold { color: $gold-version-dark; }
      .silver { color: $silver-version-dark; }
      .crystal { color: $crystal-version-dark; }
      .ruby { color: $ruby-version-dark; }
      .sapphire { color: $sapphire-version-dark; }
      .emerald { color: $emerald-version-dark; }
      .fire-red { color: $fire-red-version-dark; }
      .leaf-green { color: $leaf-green-version-dark; }
      .diamond { color: $diamond-version-dark; }
      .pearl { color: $pearl-version-dark; }
      .platinum { color: $platinum-version-dark; }
      .heart-gold { color: $heart-gold-version-dark; }
      .soul-silver { color: $soul-silver-version-dark; }
      .black { color: $black-version-dark; }
      .white { color: $white-version-dark; }
      .black-2 { color: $black-2-version-dark; }
      .white-2 { color: $white-2-version-dark; }
      .x { color: $x-version-dark; }
      .y { color: $y-version-dark; }
      .omega-ruby { color: $omega-ruby-version-dark; }
      .alpha-sapphire { color: $alpha-sapphire-version-dark; }
      .sun { color: $sun-version-dark; }
      .moon { color: $moon-version-dark; }
      .ultra-sun { color: $ultra-sun-version-dark; }
      .ultra-moon { color: $ultra-moon-version-dark; }
      .lets-go-pikachu { color: $lets-go-pikachu-version-dark; }
      .lets-go-eevee { color: $lets-go-eevee-version-dark; }
      .sword { color: $sword-version-dark; }
      .shield { color: $shield-version-dark; }

      .pokedex-version-name {
        text-transform: uppercase;
        margin-bottom: 0;

        & + .pokedex-version-name {
          margin-top: 0;
        }
      }

      p {
        font-size: 0.75rem;
        margin-top: 0;
      }

      .button-theme {
        margin-top: 3em;
      }
    }
  }
}
