@import "../../../../styles/utils/colors";
@import "../../../../styles/utils/z-index";

.navbar {
  position: fixed;
  background-color: $shark;
  color: $white;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: right;
  z-index: $navbar-index;
}
