@import "../utils/colors";

.game-boy-theme {
  background-color: $gallery;

  .container-theme {
    background-color: $white;
    border-style: solid;
    overflow: hidden;

    &--small {
      border-image: url('../../assets/images/frame-small.png') 7 round;
      border-width: 6px;
    }

    &--large {
      border-image: url('../../assets/images/frame-large.png') 14 round;
      border-width: 12px;
      padding: 16px 24px;
    }
  }
}
