<section class="pokemon-details">
  <div class="pokemon-details__breadcrumb">
    <app-breadcrumb [busy]="busy" [pokemonSpecie]="pokemonSpecie"></app-breadcrumb>
  </div>

  <!-- Profile -->
  <div class="pokemon-details__artwork">
    <app-pokemon-profile [busy]="busy" [pokemonSpecie]="pokemonSpecie"></app-pokemon-profile>
  </div>

  <!-- Attributes -->
  <div class="pokemon-details__attributes">
    <app-battle-stats [busy]="busy" [pokemonSpecie]="pokemonSpecie"></app-battle-stats>
  </div>

  <!-- More details -->
  <div class="pokemon-details__description">
    <app-pokedex-entries [busy]="busy" [pokemonSpecie]="pokemonSpecie"></app-pokedex-entries>
  </div>
</section>
