<section class="internal-server-error">
  <h1>500</h1>
  <h2>Internal server error</h2>
  <div class="container-theme container-theme--large">
    <p>
      ¿Qué? ¿POKÉAPI está evolucionando?<br>
      <br>
      No estamos seguros. Lo cierto del caso es que no respondió lo que esperábamos...
    </p>
    <div class="battle-container">
      <img src="/assets/images/battle.gif" alt="">
    </div>
    <button class="button-theme button-theme--black" (click)="reload()">
      Volver a intentarlo
    </button>
  </div>
</section>
