<div class="pokemon-card">
  <app-dialog-box size="small" [hoverable]="true" [backgroundStyles]="backgroundStyles">
    <a class="pokemon-info" routerLink="pokemon/{{ _pokemon.id }}">
      <!-- Static sprite -->
      <div
        *ngIf="_pokedexVersion.sprites && !_pokedexVersion.sprites.animated"
        class="image"
        [ngStyle]="_pokemon.id | pokemonSpritePosition: _pokedexVersion"
      ></div>

      <!-- Animated sprite -->
      <div
        *ngIf="_pokedexVersion.sprites?.animated"
        class="image-animated"
        [ngStyle]="{
          'width.px': _pokedexVersion.sprites.width,
          'height.px': _pokedexVersion.sprites.height
        }"
      >
        <img
          *ngIf="_pokedexVersion.sprites?.animated"
          [src]="_pokemon.id | pokemonImageUrl: _pokedexVersion"
          appLazyImg
          [alt]="_pokemon.name"
        />
      </div>

      <!-- Pokémon number -->
      <span class="number">{{ _pokemon.id | pokemonNumber }}</span>

      <!-- Pokémon name -->
      <span class="name">{{ _pokemon.name | pokemonName }}</span>
    </a>
  </app-dialog-box>
</div>
