@import 'utils/colors';
@import 'utils/font-sizes';
@import 'utils/transition';

.pokemon-card {
  transition: $fast;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $black;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    max-height: 115px;

    .image {
      background-repeat: no-repeat;
      transition: scale $fast;
      transform-origin: bottom;
    }

    .image-animated {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: scale $fast;

      img {
        position: relative;
        z-index: 1;
      }
    }
  }

  .number {
    font-size: $font-size-small;
    display: block;
  }

  .name {
    text-transform: uppercase;
    font-size: $font-size-small;
  }

  &:hover {
    position: relative;
    z-index: 1;
    transform: scale(1.3);
  }
}
