<section class="internal-server-error">
  <h1 class="internal-server-error__title">500</h1>
  <h2 class="internal-server-error__subtitle">Internal server error</h2>
  <app-dialog-box size="large">
    <p class="internal-server-error__description">
      ¿Qué? ¿POKÉAPI está evolucionando?<br />
      <br />
      No estamos seguros. Lo cierto del caso es que no respondió lo que
      esperábamos...
    </p>
    <div class="internal-server-error__battle-container">
      <img src="./assets/images/battle.gif" alt="" />
    </div>
    <a class="button-theme button-theme--black" [routerLink]="'/'">
      Volver a intentarlo
    </a>
  </app-dialog-box>
</section>
