@import '../../../../../../styles/utils/colors';

.header {
  position: relative;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  background-color: $white;

  &__title-container {
    background-color: $white;
    padding: 4px;
  }

  &__title {
    margin: 0 0 2px 0;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__subtitle-container {
    display: flex;
    align-items: center;
    margin-bottom: 4em;

    img {
      margin: 0 1em;
    }
  }

  &__arrow-bottom {
    cursor: pointer;
    position: absolute;
    bottom: 24px;
  }
}
