<nav class="navbar">
  <ul class="desktop-navbar">
    <li>
      <a class="button button--white" [routerLink]="'/'">Home</a>
    </li>
    <li>
      <a class="button button--white" [routerLink]="'/about'">About</a>
    </li>
    <li>
      <a class="button button--white icon" [href]="pokedexGithub" target="_blank"
        ><fa-icon [icon]="iconGithub"></fa-icon
      ></a>
    </li>
    <li>
      <a class="button button--white icon" [href]="keilerLinkedin" target="_blank"
        ><fa-icon [icon]="iconLinkedin"></fa-icon
      ></a>
    </li>
  </ul>

  <button class="open-sidebar-btn" (click)="showSidebar = true">
    <fa-icon [icon]="iconBars"></fa-icon>
  </button>

  <div class="mobile-sidebar" [ngClass]="{ open: showSidebar }">
    <div class="sidebar-container container container--large">
      <ul>
        <li>
          <a class="button button--black" (click)="goTo('/')">Inicio</a>
        </li>
        <li>
          <a class="button button--black" (click)="goTo('/about')">Acerca de</a>
        </li>
        <li>
          <a class="button button--black" [href]="pokedexGithub" target="_blank">Github</a>
        </li>
        <li>
          <a class="button button--black" [href]="keilerLinkedin" target="_blank">Linkedin</a>
        </li>
      </ul>
      <button class="close-sidebar-btn" (click)="showSidebar = false">
        <fa-icon [icon]="iconTimes"></fa-icon>
      </button>
    </div>
  </div>
</nav>
