<section class="internal-server-error">
  <h1 class="internal-server-error__title">500</h1>
  <h2 class="internal-server-error__subtitle">Internal server error</h2>
  <app-dialog-box size="large">
    <p class="internal-server-error__description">
      What? POKÉAPI is evolving?<br />
      <br />
      We're not sure. The truth is that it didn't respond what we expected...
    </p>
    <div class="internal-server-error__battle-container">
      <img src="./assets/images/battle.gif" alt="" />
    </div>
    <a class="button-theme button-theme--black" [routerLink]="'/'">Try again</a>
  </app-dialog-box>
</section>
