@import 'utils/media-query';

.internal-server-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 0;

  @include respond-to(xs) {
    padding: 25px 15px;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    padding: 0 24px;
  }

  &__description {
    margin-top: 0;
  }

  &__battle-container {
    width: 100%;
    text-align: center;
    padding: 16px 0 24px;
  }
}
