$white: #ffffff;
$black: #000000;
$gray: #808080;
$silver: #c0c0c0;
$mauvelous: #f091a9;
$cherub: #f8d9e9;
$transparent: rgba(0, 0, 0, 0);

// Pokéball
$crimson: #ee1515;
$shark: #222224;
$gallery: #f0f0f0;

// Pokémon types
$bug-type-dark: #6d7815;
$dark-type-dark: #49392f;
$dragon-type-dark: #4924a1;
$electric-type-dark: #a1871f;
$fairy-type-dark: #9b6470;
$fighting-type-dark: #7d1f1a;
$fire-type-dark: #9c531f;
$flying-type-dark: #6d5e9c;
$ghost-type-dark: #493963;
$grass-type-dark: #4e8234;
$ground-type-dark: #927d44;
$ice-type-dark: #638d8d;
$normal-type-dark: #6d6d4e;
$poison-type-dark: #682a68;
$psychic-type-dark: #a13959;
$rock-type-dark: #786824;
$steel-type-dark: #787887;
$water-type-dark: #445e9c;
$unknown-type-dark: #44685e;

$bug-type-light: #c6d16e;
$dark-type-light: #a29288;
$dragon-type-light: #a27dfa;
$electric-type-light: #fae078;
$fairy-type-light: #f4bdc9;
$fighting-type-light: #d67873;
$fire-type-light: #f5ac78;
$flying-type-light: #c6b7f5;
$ghost-type-light: #a292bc;
$grass-type-light: #a7db8d;
$ground-type-light: #ebd69d;
$ice-type-light: #bce6e6;
$normal-type-light: #c6c6a7;
$poison-type-light: #c183c1;
$psychic-type-light: #fa92b2;
$rock-type-light: #d1c17d;
$steel-type-light: #d1d1e0;
$water-type-light: #9db7f5;
$unknown-type-light: #9dc1b7;

// Pokédex version
$red-version-dark: #a60b0b;
$green-version-dark: #0b7a0b;
$blue-version-dark: #0b0ba6;
$yellow-version-dark: #a68c21;
$gold-version-dark: #8e6b15;
$silver-version-dark: #7d7d7d;
$crystal-version-dark: #338da6;
$ruby-version-dark: #680000;
$sapphire-version-dark: #000068;
$emerald-version-dark: #006800;
$fire-red-version-dark: #a64b19;
$leaf-green-version-dark: #009000;
$diamond-version-dark: #6f6fa6;
$pearl-version-dark: #a66f6f;
$platinum-version-dark: #646464;
$heart-gold-version-dark: #766700;
$soul-silver-version-dark: #7d7d92;
$black-version-dark: #2c2c2c;
$white-version-dark: #929292;
$black-2-version-dark: #2b3134;
$white-2-version-dark: #948687;
$x-version-dark: #013d6c;
$y-version-dark: #981128;
$omega-ruby-version-dark: #6f1a0c;
$alpha-sapphire-version-dark: #194166;
$sun-version-dark: #9d5e1c;
$moon-version-dark: #376483;
$ultra-sun-version-dark: #983b1c;
$ultra-moon-version-dark: #164776;
$lets-go-pikachu-version-dark: #9f8e19;
$lets-go-eevee-version-dark: #8a5f31;
$sword-version-dark: #006998;
$shield-version-dark: #7c0033;

$red-version-light: #ff6464;
$green-version-light: #64d364;
$blue-version-light: #6464ff;
$yellow-version-light: #ffe57a;
$gold-version-light: #e7c46e;
$silver-version-light: #d6d6d6;
$crystal-version-light: #8ce6ff;
$ruby-version-light: #c15959;
$sapphire-version-light: #5959c1;
$emerald-version-light: #59c159;
$fire-red-light-version: #ffa472;
$leaf-green-light-version: #59e959;
$diamond-version-light: #c8c8ff;
$pearl-version-light: #ffc8c8;
$platinum-version-light: #bdbdbd;
$heart-gold-light-version: #cfc059;
$soul-silver-light-version: #d6d6eb;
$black-version-light: #858585;
$white-version-light: #ebebeb;
$black-2-light-version: #848a8d;
$white-2-light-version: #eddfe0;
$x-version-light: #5a96c5;
$y-version-light: #f16a81;
$omega-ruby-light-version: #c87365;
$alpha-sapphire-light-version: #729abf;
$sun-version-light: #f6b775;
$moon-version-light: #90bddc;
$ultra-sun-light-version: #f19475;
$ultra-moon-light-version: #6fa0cf;
$lets-go-light-pikachu-version: #f8e772;
$lets-go-light-eevee-version: #e3b88a;
$sword-version-light: #59c2f1;
$shield-version-light: #d5598c;
