$white: #fff;
$black: #000;

// Pokéball
$crimson:	#EE1515;
$shark: #222224;
$gallery: #F0F0F0;

// Pokémon types
$bug-type-dark: #6D7815;
$dark-type-dark: #49392F;
$dragon-type-dark: #4924A1;
$electric-type-dark: #A1871F;
$fairy-type-dark: #9B6470;
$fighting-type-dark: #7D1F1A;
$fire-type-dark: #9C531F;
$flying-type-dark: #6D5E9C;
$ghost-type-dark: #493963;
$grass-type-dark: #4E8234;
$ground-type-dark: #927D44;
$ice-type-dark: #638D8D;
$normal-type-dark: #6D6D4E;
$poison-type-dark: #682A68;
$psychic-type-dark: #A13959;
$rock-type-dark: #786824;
$steel-type-dark: #787887;
$water-type-dark: #445E9C;
$unknown-type-dark: #44685E;

$bug-type-light: #C6D16E;
$dark-type-light: #A29288;
$dragon-type-light: #A27DFA;
$electric-type-light: #FAE078;
$fairy-type-light: #F4BDC9;
$fighting-type-light: #D67873;
$fire-type-light: #F5AC78;
$flying-type-light: #C6B7F5;
$ghost-type-light: #A292BC;
$grass-type-light: #A7DB8D;
$ground-type-light: #EBD69D;
$ice-type-light: #BCE6E6;
$normal-type-light: #C6C6A7;
$poison-type-light: #C183C1;
$psychic-type-light: #FA92B2;
$rock-type-light: #D1C17D;
$steel-type-light: #D1D1E0;
$water-type-light: #9DB7F5;
$unknown-type-light: #9DC1B7;

// Pokédex version
$red-version-dark: #A60B0B;
$green-version-dark: #0B7A0B;
$blue-version-dark: #0B0BA6;
$yellow-version-dark: #A68C21;
$gold-version-dark: #8E6B15;
$silver-version-dark: #7D7D7D;
$crystal-version-dark: #338DA6;
$ruby-version-dark: #680000;
$sapphire-version-dark: #000068;
$emerald-version-dark: #006800;
$fire-red-version-dark: #A64B19;
$leaf-green-version-dark: #009000;
$diamond-version-dark: #6F6FA6;
$pearl-version-dark: #A66F6F;
$platinum-version-dark: #646464;
$heart-gold-version-dark: #766700;
$soul-silver-version-dark: #7D7D92;
$black-version-dark: #2C2C2C;
$white-version-dark: #929292;
$black-2-version-dark: #2B3134;
$white-2-version-dark: #948687;
$x-version-dark: #013D6C;
$y-version-dark: #981128;
$omega-ruby-version-dark: #6F1A0C;
$alpha-sapphire-version-dark: #194166;
$sun-version-dark: #9D5E1C;
$moon-version-dark: #376483;
$ultra-sun-version-dark: #983B1C;
$ultra-moon-version-dark: #164776;
$lets-go-pikachu-version-dark: #9F8E19;
$lets-go-eevee-version-dark: #8A5F31;
$sword-version-dark: #006998;
$shield-version-dark: #7C0033;

$red-version-light: #FF6464;
$green-version-light: #64D364;
$blue-version-light: #6464FF;
$yellow-version-light: #FFE57A;
$gold-version-light: #E7C46E;
$silver-version-light: #D6D6D6;
$crystal-version-light: #8CE6FF;
$ruby-version-light: #C15959;
$sapphire-version-light: #5959C1;
$emerald-version-light: #59C159;
$fire-red-light-version: #FFA472;
$leaf-green-light-version: #59E959;
$diamond-version-light: #C8C8FF;
$pearl-version-light: #FFC8C8;
$platinum-version-light: #BDBDBD;
$heart-gold-light-version: #CFC059;
$soul-silver-light-version: #D6D6EB;
$black-version-light: #858585;
$white-version-light: #EBEBEB;
$black-2-light-version: #848A8D;
$white-2-light-version: #EDDFE0;
$x-version-light: #5A96C5;
$y-version-light: #F16A81;
$omega-ruby-light-version: #C87365;
$alpha-sapphire-light-version: #729ABF;
$sun-version-light: #F6B775;
$moon-version-light: #90BDDC;
$ultra-sun-light-version: #F19475;
$ultra-moon-light-version: #6FA0CF;
$lets-go-light-pikachu-version: #F8E772;
$lets-go-light-eevee-version: #E3B88A;
$sword-version-light: #59C2F1;
$shield-version-light: #D5598C;
