@import 'colors';

/// Construir el marco del dialog box de la GB.
/// @param {number} $ratio Tamaño de cada pixel.
/// @output Estilos para el marco del dialog box.
@mixin gbDialogBox($ratio) {
  border: (1px * $ratio) solid $black;
  border-bottom-width: 2px * $ratio;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 1px * $ratio;
    left: 1px * $ratio;
    bottom: 1px * $ratio;
    right: 1px * $ratio;
    border: (1px * $ratio) solid $black;
    border-top-width: 2px * $ratio;
    pointer-events: none;
  }
}

/// Construir el marco del dialog box de la GBC.
/// @param {number} $ratio Tamaño de cada pixel.
/// @output Estilos para el marco del dialog box.
@mixin gbcDialogBox($ratio) {
  border: (1px * $ratio) solid $black;
  border-bottom-width: 2px * $ratio;
  border-radius: 2px * $ratio;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 1px * $ratio;
    left: 1px * $ratio;
    bottom: 1px * $ratio;
    right: 1px * $ratio;
    border: (1px * $ratio) solid $black;
    border-top-width: 2px * $ratio;
    border-radius: 1px * $ratio;
    pointer-events: none;
  }
}

/// Construir el marco del dialog box de la GBA.
/// @param {number} $ratio Tamaño de cada pixel.
/// @output Estilos para el marco del dialog box.
@mixin gbaDialogBox($ratio) {
  border: (1px * $ratio) solid $black;
  border-radius: 6px * $ratio;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: (1px * $ratio) solid $gray;
    border-radius: 5px * $ratio;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 1px * $ratio;
    left: 1px * $ratio;
    bottom: 1px * $ratio;
    right: 1px * $ratio;
    border: (1px * $ratio) solid $silver;
    border-radius: 4px * $ratio;
    pointer-events: none;
  }
}

/// Construir la esquina superior izquierda del marco del dialog box de la GB.
/// @param {number} $base-color Color base del marco.
/// @param {number} $ratio Tamaño de cada pixel.
/// @output Estilos para el marco del dialog box.
@mixin gbTopLeftCornerDialogBox($base-color, $ratio) {
  top: (-3px * $ratio);
  left: (-4px * $ratio);
  box-shadow: (3px * $ratio) (1px * $ratio) $base-color,
    (4px * $ratio) (1px * $ratio) $base-color,
    (2px * $ratio) (2px * $ratio) $base-color,
    (3px * $ratio) (2px * $ratio) $white,
    (4px * $ratio) (2px * $ratio) $base-color,
    (5px * $ratio) (2px * $ratio) $base-color,
    (6px * $ratio) (2px * $ratio) $white,
    (7px * $ratio) (2px * $ratio) $base-color,
    (1px * $ratio) (3px * $ratio) $base-color,
    (2px * $ratio) (3px * $ratio) $base-color,
    (3px * $ratio) (3px * $ratio) $base-color,
    (4px * $ratio) (3px * $ratio) $base-color,
    (5px * $ratio) (3px * $ratio) $base-color,
    (6px * $ratio) (3px * $ratio) $base-color,
    (7px * $ratio) (3px * $ratio) $white,
    (1px * $ratio) (4px * $ratio) $base-color,
    (2px * $ratio) (4px * $ratio) $white, (3px * $ratio) (4px * $ratio) $white,
    (4px * $ratio) (4px * $ratio) $white, (5px * $ratio) (4px * $ratio) $white,
    (6px * $ratio) (4px * $ratio) $base-color,
    (7px * $ratio) (4px * $ratio) $white,
    (2px * $ratio) (5px * $ratio) $base-color,
    (3px * $ratio) (5px * $ratio) $white, (4px * $ratio) (5px * $ratio) $white,
    (5px * $ratio) (5px * $ratio) $base-color,
    (6px * $ratio) (5px * $ratio) $white,
    (7px * $ratio) (5px * $ratio) $base-color,
    (3px * $ratio) (6px * $ratio) $base-color,
    (4px * $ratio) (6px * $ratio) $base-color,
    (5px * $ratio) (6px * $ratio) $white,
    (6px * $ratio) (6px * $ratio) $base-color,
    (3px * $ratio) (7px * $ratio) $base-color,
    (5px * $ratio) (7px * $ratio) $base-color;
}

/// Construir la esquina superior derecha del marco del dialog box de la GB.
/// @param {number} $base-color Color base del marco.
/// @param {number} $ratio Tamaño de cada pixel.
/// @output Estilos para el marco del dialog box.
@mixin gbTopRightCornerDialogBox($base-color, $ratio) {
  top: (-3px * $ratio);
  right: (4px * $ratio);
  box-shadow: (4px * $ratio) (1px * $ratio) $base-color,
    (5px * $ratio) (1px * $ratio) $base-color,
    (1px * $ratio) (2px * $ratio) $base-color,
    (2px * $ratio) (2px * $ratio) $white,
    (3px * $ratio) (2px * $ratio) $base-color,
    (4px * $ratio) (2px * $ratio) $white,
    (5px * $ratio) (2px * $ratio) $base-color,
    (6px * $ratio) (2px * $ratio) $base-color,
    (1px * $ratio) (3px * $ratio) $white,
    (2px * $ratio) (3px * $ratio) $base-color,
    (3px * $ratio) (3px * $ratio) $base-color,
    (4px * $ratio) (3px * $ratio) $base-color,
    (5px * $ratio) (3px * $ratio) $base-color,
    (6px * $ratio) (3px * $ratio) $base-color,
    (7px * $ratio) (3px * $ratio) $base-color,
    (1px * $ratio) (4px * $ratio) $white,
    (2px * $ratio) (4px * $ratio) $base-color,
    (3px * $ratio) (4px * $ratio) $white, (4px * $ratio) (4px * $ratio) $white,
    (5px * $ratio) (4px * $ratio) $white, (6px * $ratio) (4px * $ratio) $white,
    (7px * $ratio) (4px * $ratio) $base-color,
    (1px * $ratio) (5px * $ratio) $base-color,
    (2px * $ratio) (5px * $ratio) $white,
    (3px * $ratio) (5px * $ratio) $base-color,
    (4px * $ratio) (5px * $ratio) $white, (5px * $ratio) (5px * $ratio) $white,
    (6px * $ratio) (5px * $ratio) $base-color,
    (2px * $ratio) (6px * $ratio) $base-color,
    (3px * $ratio) (6px * $ratio) $white,
    (4px * $ratio) (6px * $ratio) $base-color,
    (5px * $ratio) (6px * $ratio) $base-color,
    (3px * $ratio) (7px * $ratio) $base-color,
    (4px * $ratio) (7px * $ratio) $white,
    (5px * $ratio) (7px * $ratio) $base-color;
}

/// Construir la esquina inferior derecha del marco del dialog box de la GB.
/// @param {number} $base-color Color base del marco.
/// @param {number} $ratio Tamaño de cada pixel.
/// @output Estilos para el marco del dialog box.
@mixin gbBottomRightCornerDialogBox($base-color, $ratio) {
  bottom: (4px * $ratio);
  right: (4px * $ratio);
  box-shadow: (3px * $ratio) (1px * $ratio) $base-color,
    (4px * $ratio) (1px * $ratio) $white,
    (5px * $ratio) (1px * $ratio) $base-color,
    (2px * $ratio) (2px * $ratio) $base-color,
    (3px * $ratio) (2px * $ratio) $white,
    (4px * $ratio) (2px * $ratio) $base-color,
    (5px * $ratio) (2px * $ratio) $base-color,
    (1px * $ratio) (3px * $ratio) $base-color,
    (2px * $ratio) (3px * $ratio) $white,
    (3px * $ratio) (3px * $ratio) $base-color,
    (4px * $ratio) (3px * $ratio) $white,
    (5px * $ratio) (3px * $ratio) $base-color,
    (6px * $ratio) (3px * $ratio) $base-color,
    (1px * $ratio) (4px * $ratio) $white,
    (2px * $ratio) (4px * $ratio) $base-color,
    (3px * $ratio) (4px * $ratio) $base-color,
    (4px * $ratio) (4px * $ratio) $base-color,
    (5px * $ratio) (4px * $ratio) $base-color,
    (6px * $ratio) (4px * $ratio) $base-color,
    (7px * $ratio) (4px * $ratio) $base-color,
    (1px * $ratio) (5px * $ratio) $white,
    (2px * $ratio) (5px * $ratio) $base-color,
    (3px * $ratio) (5px * $ratio) $white, (4px * $ratio) (5px * $ratio) $white,
    (5px * $ratio) (5px * $ratio) $white, (6px * $ratio) (5px * $ratio) $white,
    (7px * $ratio) (5px * $ratio) $base-color,
    (1px * $ratio) (6px * $ratio) $base-color,
    (2px * $ratio) (6px * $ratio) $white,
    (3px * $ratio) (6px * $ratio) $base-color,
    (4px * $ratio) (6px * $ratio) $white, (5px * $ratio) (6px * $ratio) $white,
    (6px * $ratio) (6px * $ratio) $base-color,
    (4px * $ratio) (7px * $ratio) $base-color,
    (5px * $ratio) (7px * $ratio) $base-color;
}

/// Construir la esquina inferior izquierda del marco del dialog box de la GB.
/// @param {number} $base-color Color base del marco.
/// @param {number} $ratio Tamaño de cada pixel.
/// @output Estilos para el marco del dialog box.
@mixin gbBottomLeftCornerDialogBox($base-color, $ratio) {
  bottom: (4px * $ratio);
  left: (-4px * $ratio);
  box-shadow: (3px * $ratio) (1px * $ratio) $base-color,
    (4px * $ratio) (1px * $ratio) $white,
    (5px * $ratio) (1px * $ratio) $base-color,
    (2px * $ratio) (2px * $ratio) $white,
    (3px * $ratio) (2px * $ratio) $base-color,
    (4px * $ratio) (2px * $ratio) $base-color,
    (5px * $ratio) (2px * $ratio) $white,
    (6px * $ratio) (2px * $ratio) $base-color,
    (2px * $ratio) (3px * $ratio) $base-color,
    (3px * $ratio) (3px * $ratio) $white,
    (4px * $ratio) (3px * $ratio) $base-color,
    (5px * $ratio) (3px * $ratio) $base-color,
    (6px * $ratio) (3px * $ratio) $white,
    (7px * $ratio) (3px * $ratio) $base-color,
    (1px * $ratio) (4px * $ratio) $base-color,
    (2px * $ratio) (4px * $ratio) $base-color,
    (3px * $ratio) (4px * $ratio) $base-color,
    (4px * $ratio) (4px * $ratio) $base-color,
    (5px * $ratio) (4px * $ratio) $base-color,
    (6px * $ratio) (4px * $ratio) $base-color,
    (7px * $ratio) (4px * $ratio) $white,
    (1px * $ratio) (5px * $ratio) $base-color,
    (2px * $ratio) (5px * $ratio) $white, (3px * $ratio) (5px * $ratio) $white,
    (4px * $ratio) (5px * $ratio) $white, (5px * $ratio) (5px * $ratio) $white,
    (6px * $ratio) (5px * $ratio) $base-color,
    (7px * $ratio) (5px * $ratio) $white,
    (2px * $ratio) (6px * $ratio) $base-color,
    (3px * $ratio) (6px * $ratio) $white, (4px * $ratio) (6px * $ratio) $white,
    (5px * $ratio) (6px * $ratio) $base-color,
    (6px * $ratio) (6px * $ratio) $white,
    (7px * $ratio) (6px * $ratio) $base-color,
    (3px * $ratio) (7px * $ratio) $base-color,
    (4px * $ratio) (7px * $ratio) $base-color;
}
