// 20px
$font-size-largest: 1.429rem;
// 18px
$font-size-large: 1.286rem;
// 16px
$font-size-medium: 1.143rem;
// 14px
$font-size-normal: 1rem;
// 12px
$font-size-small: 0.857rem;
// 10px
$font-size-smaller: 0.714rem;
// 8px
$font-size-smallerest: 0.571rem;
