// 20px
$font-size-largest: 1.25rem;
// 18px
$font-size-large: 1.125rem;
// 16px
$font-size-medium: 1em;
// 14px
$font-size-normal: 0.875rem;
// 12px
$font-size-small: 0.75rem;
// 10px
$font-size-smaller: 0.625rem;
// 8px
$font-size-smallest: 0.5rem;
