@import '../utils/colors';
@import '../utils/font-sizes';

.form-group-theme {
  & + .form-group-theme {
    padding-top: 16px;
  }

  .label {
    display: block;
    cursor: default;
    font-size: $font-size-smaller;
  }

  input[type='text'] {
    width: 100%;
  }

  select {
    width: 100%;
  }
}
