@import '../base/_typography';
@import '../utils/colors';
@import '../utils/font-sizes';
@import '../utils/transition';

input[type='text'] {
  border: 1px solid $shark;
  box-sizing: border-box;
  text-transform: uppercase;
  height: 24px;
  padding: 0 10px;
  border-radius: 8px;
  font-family: $roboto;
  transition: $fast;

  &:hover {
    border-color: $crimson;
  }

  &:focus {
    border-color: $shark;
    outline: none;
  }
}
