@import '../../../../../../styles/utils/colors';
@import '../../../../../../styles/utils/font-sizes';
@import '../../../../../../styles/utils/media-query';
@import '../../../../../../styles/utils/transition';

.pokemon-list {
  .message {
    margin: 0 20px;

    @include respond(xs, md) {
      text-align: center;
    }
  }

  .pokemons-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
    margin: 0 14px;

    @include respond(xs, md) {
      justify-content: center;
    }

    .pokemon-card {
      flex-grow: 1;
    }
  }
}
