@import 'utils/colors';
@import 'utils/transition';

.dialog-box {
  background-color: $white;
  position: relative;
  height: 100%;
  border-image: url(../../../../assets/images/frame-large.png) 42 round;
  border-style: solid;

  &--large {
    padding: 1em;
    border-width: 21px;
  }

  &--small {
    border-width: 7px;
  }

  &--hoverable:hover {
    cursor: pointer;
  }
}
