@import 'utils/media-query';

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 50px;

  @include respond-to(xs) {
    flex-direction: column;
    height: auto;
  }

  .sort-by {
    label {
      margin-right: 1em;
    }
  }
}
