.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;

  .layout__content {
    background-image: url('../../../assets/images/grass.png');
    background-size: 100% auto;
    padding-top: 50px;
    width: 100%;
  }
}
