<section class="about">
  <app-dialog-box size="large">
    <h1 class="about__title">POKÉDEX</h1>
    <p
      class="about__description"
      [innerHTML]="
        'ABOUT_MESSAGE'
          | translate
            : {
                homeAngular: homeAngular,
                homePokeApi: homePokeApi,
                pokedexGithub: pokedexGithub,
                keilerLinkedin: keilerLinkedin
              }
      "
    ></p>

    <div class="about__professor-img">
      <img class="" src="./assets/images/professor.png" alt="Professor" width="224" height="224" />
    </div>

    <a class="button button--black" routerLink="/">{{ 'HOME' | translate }}</a>
  </app-dialog-box>
</section>
