<nav class="navbar">
  <ul class="desktop-navbar">
    <li>
      <a class="button-theme button-theme--white" [routerLink]="'/'">Home</a>
    </li>
    <li>
      <a class="button-theme button-theme--white" [routerLink]="'/about'">About</a>
    </li>
    <li>
      <a class="button-theme button-theme--white icon" [href]="pokedexGithub" target="_blank"
        ><fa-icon [icon]="iconGithub"></fa-icon
      ></a>
    </li>
    <li>
      <a class="button-theme button-theme--white icon" [href]="keilerLinkedin" target="_blank"
        ><fa-icon [icon]="iconLinkedin"></fa-icon
      ></a>
    </li>
  </ul>

  <button class="open-sidenav-btn" (click)="showSidenav = true">
    <fa-icon [icon]="iconBars"></fa-icon>
  </button>

  <div class="mobile-sidenav" [ngClass]="{ open: showSidenav }">
    <div class="sidenav-container container-theme container-theme--large">
      <ul>
        <li>
          <a class="button-theme button-theme--black" (click)="goTo('/')">Inicio</a>
        </li>
        <li>
          <a class="button-theme button-theme--black" (click)="goTo('/about')">Acerca de</a>
        </li>
        <li>
          <a class="button-theme button-theme--black" [href]="pokedexGithub" target="_blank"
            >Github</a
          >
        </li>
        <li>
          <a class="button-theme button-theme--black" [href]="keilerLinkedin" target="_blank"
            >Linkedin</a
          >
        </li>
      </ul>
      <button class="close-sidenav-btn" (click)="showSidenav = false">
        <fa-icon [icon]="iconTimes"></fa-icon>
      </button>
    </div>
  </div>
</nav>
