@import "typography";

html {
  /// Evitar el scroll horizontal
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  height: 100%;

  body {
    /// Establecer Pokémon Font como fuente principal
    font-size: 14px;
    font-family: $pokemonFont;

    /// Corregir el alisado de letras en MACOS
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /// Evitar el scroll horizontal
    max-width: 100%;

    /// Mostrar siempre el scroll vertical
    overflow-y: scroll;

    height: 100%;
    margin: 0;

    a:focus,
    button:focus {
      /// Eliminar la línea azul en el elemento señalado
      outline-width: 0;
      box-shadow: none;
    }
  }
}
